{% extends "layout.html" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Todo:</h1>
        <table class="table table-striped">
            <th>#</th>
            <th>User</th>
            <th>Description</th>
            <th>Completed</th>
            <th>View JSON</th>
            <th></th>
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    {% if todo.completed == 1 %}
                        <form method="post" action="{{ url_for('uncomplete_todo', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-danger">Uncomplete</button>
                        </form>
                    {% else %}
                        <form method="post" action="{{ url_for('complete_todo', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-success">Complete</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('todo_to_json', id=todo.id) }}" class="btn btn-xs btn-success">View JSON</a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span
                                class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}